body {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#title {
    color: #273e49;
    font-size: 40px;
    margin: 20px;
}

#board {
    width: fit-content; /*608px;*/
    height: fit-content; /*608px;*/
    background-color: white;
    border: 1px solid #273e49;
    border-radius: 7px;
    padding: 4px;
    margin: 0 auto;
    margin-top: 16px;
    /* width: 90vh; */
    /* height: 90vh; */

    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(16, auto);
}

.tile {
    /* Box */
    width: 40px;
    height: 40px;
    margin: 2px;
    border-radius: 3px;

    /* width: 1/16%;
    height: 1/16%; */

    /* Text */
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.off {
    color: #273e49;
    background-color: white;
    border: 1px solid #273e49;
    /* background-color: #EDC367;
    border-color: #e6d2a2 #866A55 #866A55 #e6d2a2; */
}

.on {
    color: white;
    background-color: #273e49;
    border: 1px solid #273e49;
    /* border: 1px solid;
    border-color: #9E81B9 #232139 #232139 #9E81B9; */
}

div.marked {
    border: 1px solid #d8ac1d;
}