.modal {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
    background-color: white;
    width: 640px;
    max-width: 100%;
    padding: 10px 30px 30px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-container {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.centered-header {
    text-align: center;
}

.example-container {
    display: flex;
    justify-content: space-around;
}

.example {
    background-color: red;
    width: 100px;
    height: 100px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: #273e49;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}